@import "tailwindcss";

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #ff7043;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
}
